<h1>Projeto de Automação Web com Selenium para Criar um Amigo Oculto</h1>

<h2>Descrição do Projeto:</h2>

<h3>Do Tratamento de Dados:</h3>

* Usuário vai prover um documento excel denominado 'Amigo_Oculto_bangu.xlsx' que deverá ser lido.
* Será criada uma nova coluna na tabela, lendo a lista de nomes e associando aleatoriamente um dos nomes.
* Há condições que devem ser atendidas:
    * Um mesmo nome não pode se 'tirar'
    * Há uma lista 'especial' de pessoas que não podem se tirar entre si, que será providenciada pelo usuário
    * Deverá ser verificado se os telefones são válidos

<h3>Da Validação:</h3>

* Deverá ser enviado para um email do bot a lista final, para conferência futura.
* O email deve constar a data com hora do envio.
* Para cada mensagem enviada no Processo de Automação, deverá ser registrado o envio com sucesso, possivelmente capturando a tela para validação.

<h3>Da Automação:</h3>

* Após feito o tratamento, o programa deverá acessar o Whatsapp Web ( https://web.whatsapp.com/ ) e enviar o nome das pessoas tiradas para cada pessoa da lista.

In [31]:
# Lendo o Arquivo
import re
import pandas as pd
caminho_arq = r'C:\\Users\\User\\Desktop\\\\'
nome_arq = 'Amigo_Oculto_bangu.xlsx'

arq = pd.read_excel(caminho_arq+nome_arq)
aux = arq

         Nome           Telefone
0     Altamir  +55 21 98174-1659
1   Cristiane  +55 21 98174-1659
2      Morena  +55 21 98174-1659
3      Marcus  +55 21 97646-1620
4     Luciana  +55 21 99577-2188
5      Lauana  +55 21 96909-8927
6   Alexandre  +55 21 97991-2424
7      Rosali  +55 21 99956-0986
8     Cláudia  +55 21 99944-3849
9        Enir  +55 21 99771-5336
10      Sofia  +55 21 99944-3849
11      Alice  +55 21 99944-3849
12      Luisa  +55 21 99520-0096
13      Pedro  +55 21 99757-1999
14       Igor  +55 21 99757-1999

In [6]:
import random
embaralha = arq['Nome'].sample(frac=1).reset_index(drop=True)
arq['Sorteados'] = embaralha

         Nome           Telefone  Sorteados
0     Altamir  +55 21 98174-1659      Alice
1   Cristiane  +55 21 98174-1659  Cristiane
2      Morena  +55 21 98174-1659  Alexandre
3      Marcus  +55 21 97646-1620     Lauana
4     Luciana  +55 21 99577-2188     Rosali
5      Lauana  +55 21 96909-8927      Pedro
6   Alexandre  +55 21 97991-2424    Luciana
7      Rosali  +55 21 99956-0986     Marcus
8     Cláudia  +55 21 99944-3849      Luisa
9        Enir  +55 21 99771-5336       Igor
10      Sofia  +55 21 99944-3849      Sofia
11      Alice  +55 21 99944-3849     Morena
12      Luisa  +55 21 99520-0096    Altamir
13      Pedro  +55 21 99757-1999       Enir
14       Igor  +55 21 99757-1999    Cláudia

In [10]:
while (arq['Nome'] == arq['Sorteados']).any():
    arq['Sorteados'] = arq['Nome'].sample(frac=1).reset_index(drop=True)

         Nome           Telefone  Sorteados
0     Altamir  +55 21 98174-1659      Luisa
1   Cristiane  +55 21 98174-1659    Luciana
2      Morena  +55 21 98174-1659       Enir
3      Marcus  +55 21 97646-1620      Pedro
4     Luciana  +55 21 99577-2188    Cláudia
5      Lauana  +55 21 96909-8927    Altamir
6   Alexandre  +55 21 97991-2424      Sofia
7      Rosali  +55 21 99956-0986     Marcus
8     Cláudia  +55 21 99944-3849     Morena
9        Enir  +55 21 99771-5336       Igor
10      Sofia  +55 21 99944-3849  Alexandre
11      Alice  +55 21 99944-3849     Lauana
12      Luisa  +55 21 99520-0096      Alice
13      Pedro  +55 21 99757-1999  Cristiane
14       Igor  +55 21 99757-1999     Rosali

In [28]:
#i = 0
#while(i in arq['Nome']):
#    print(i,arq['Nome'][i],' TIROU A ',arq['Sorteados'][i],'ENVIAR MENSAGEM PARA',arq['Telefone'][i])
#    i=i+1

0 Altamir  TIROU A  Luisa ENVIAR MENSAGEM PARA +55 21 98174-1659
1 Cristiane  TIROU A  Luciana ENVIAR MENSAGEM PARA +55 21 98174-1659
2 Morena  TIROU A  Enir ENVIAR MENSAGEM PARA +55 21 98174-1659
3 Marcus  TIROU A  Pedro ENVIAR MENSAGEM PARA +55 21 97646-1620
4 Luciana  TIROU A  Cláudia ENVIAR MENSAGEM PARA +55 21 99577-2188
5 Lauana  TIROU A  Altamir ENVIAR MENSAGEM PARA +55 21 96909-8927
6 Alexandre  TIROU A  Sofia ENVIAR MENSAGEM PARA +55 21 97991-2424
7 Rosali  TIROU A  Marcus ENVIAR MENSAGEM PARA +55 21 99956-0986
8 Cláudia  TIROU A  Morena ENVIAR MENSAGEM PARA +55 21 99944-3849
9 Enir  TIROU A  Igor ENVIAR MENSAGEM PARA +55 21 99771-5336
10 Sofia  TIROU A  Alexandre ENVIAR MENSAGEM PARA +55 21 99944-3849
11 Alice  TIROU A  Lauana ENVIAR MENSAGEM PARA +55 21 99944-3849
12 Luisa  TIROU A  Alice ENVIAR MENSAGEM PARA +55 21 99520-0096
13 Pedro  TIROU A  Cristiane ENVIAR MENSAGEM PARA +55 21 99757-1999
14 Igor  TIROU A  Rosali ENVIAR MENSAGEM PARA +55 21 99757-1999

In [46]:
# Função para validar números de telefone nos formatos +55 21 99999-9999 ou 5521999999999


def validar_numero_telefone(numero):
    # Expressão regular para validar números de telefone com o formato específico ou apenas números
    padrao = r'^(\+?\d{2} ?\d{2} ?\d{5}-?\d{4})$'
    
    # Verifica se a string corresponde ao padrão de número de telefone
    if re.match(padrao, numero):
        return numero
    else:
        return 'TELEFONE INVÁLIDO'

# Aplica a função 'validar_numero_telefone' à coluna 'Telefones'
arq['Telefone'] = arq['Telefone'].apply(validar_numero_telefone)

#arq

         Nome           Telefone
0     Altamir  +55 21 98174-1659
1   Cristiane  +55 21 98174-1659
2      Morena  +55 21 98174-1659
3      Marcus  +55 21 97646-1620
4     Luciana  +55 21 99577-2188
5      Lauana  +55 21 96909-8927
6   Alexandre  +55 21 97991-2424
7      Rosali  +55 21 99956-0986
8     Cláudia  +55 21 99944-3849
9        Enir  +55 21 99771-5336
10      Sofia  +55 21 99944-3849
11      Alice  +55 21 99944-3849
12      Luisa  +55 21 99520-0096
13      Pedro  +55 21 99757-1999
14       Igor  +55 21 99757-1999